In [1]:
import pandas as pd

In [2]:
df1 = pd.read_csv("PowderBlendPart_20230406.csv",index_col=False)

In [3]:
df1

,PowderBlendPartID,PowderBlendID,OldPowderBlendID,AddedWeight,DateAdded,PowderInventoryBatchID
0,1,5,2.0,99.48,2015-01-16 06:00:00,NaN
1,2,6,3.0,107.20,2015-01-20 06:00:00,NaN
2,3,7,6.0,91.64,2015-01-27 06:00:00,NaN
3,4,8,4.0,93.15,2015-01-27 06:00:00,NaN
4,5,9,7.0,96.84,2015-01-27 06:00:00,NaN
...,...,...,...,...,...,...
9418,9473,7363,7351.0,1.00,2023-04-04 17:23:00,NaN
9419,9474,7364,7363.0,1.00,2023-04-04 17:24:00,NaN
9420,9475,7364,7318.0,126.52,2023-04-04 17:24:00,NaN
9421,9476,7365,7346.0,117.56,2023-04-04 17:50:00,NaN
9422,9477,7366,7334.0,64.12,2023-04-04 20:28:00,NaN

In [4]:
from sqlalchemy import create_engine
engine = create_engine('sqlite://', echo=False)

In [5]:
import sqlite3
import sqlalchemy 

try:
    conn = sqlite3.connect("database.db")    
except Exception as e:
    print(e)

#Now in order to read in pandas dataframe we need to know table name
cursor = conn.cursor()
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
print(f"Table Name : {cursor.fetchall()}")

df2 = pd.read_sql_query('SELECT * FROM powder_blends', conn)
conn.close()

Table Name : [('powder_blends',), ('users',), ('inventory_virgin_batch',), ('builds',)]

In [6]:
frames = [df1,df2]
df3 = pd.concat(frames)
#df3.set_index("PowderBlendPartID",inplace=True)
print(df3)

     PowderBlendPartID PowderBlendID  OldPowderBlendID  AddedWeight  \
0                    1             5               2.0        99.48
1                    2             6               3.0       107.20
2                    3             7               6.0        91.64
3                    4             8               4.0        93.15
4                    5             9               7.0        96.84
...                ...           ...               ...          ...
9418              9473          7363            7351.0         1.00
9419              9474          7364            7363.0         1.00
9420              9475          7364            7318.0       126.52
9421              9476          7365            7346.0       117.56
9422              9477          7366            7334.0        64.12

                DateAdded  PowderInventoryBatchID
0     2015-01-16 06:00:00                     NaN
1     2015-01-20 06:00:00                     NaN
2     2015-01-27 06:00:00                     NaN
3     2015-01-27 06:00:00                     NaN
4     2015-01-27 06:00:00                     NaN
...                   ...                     ...
9418  2023-04-04 17:23:00                     NaN
9419  2023-04-04 17:24:00                     NaN
9420  2023-04-04 17:24:00                     NaN
9421  2023-04-04 17:50:00                     NaN
9422  2023-04-04 20:28:00                     NaN

[9423 rows x 6 columns]

In [9]:
conn = sqlite3.connect('database.db')
c = conn.cursor()

In [10]:
c.execute('CREATE TABLE IF NOT EXISTS powder_blends (PowderBlendPartID,	PowderBlendID,	OldPowderBlendID,	AddedWeight	DateAdded,	PowderInventoryBatchID)')
conn.commit()

In [11]:
df3.to_sql('powder_blends', conn, if_exists='replace', index = False)

In [12]:
df=pd.read_sql_query('SELECT * FROM powder_blends', conn)
conn.close()
df

,PowderBlendPartID,PowderBlendID,OldPowderBlendID,AddedWeight,DateAdded,PowderInventoryBatchID
0,1,5,2.0,99.48,2015-01-16 06:00:00,NaN
1,2,6,3.0,107.20,2015-01-20 06:00:00,NaN
2,3,7,6.0,91.64,2015-01-27 06:00:00,NaN
3,4,8,4.0,93.15,2015-01-27 06:00:00,NaN
4,5,9,7.0,96.84,2015-01-27 06:00:00,NaN
...,...,...,...,...,...,...
9418,9473,7363,7351.0,1.00,2023-04-04 17:23:00,NaN
9419,9474,7364,7363.0,1.00,2023-04-04 17:24:00,NaN
9420,9475,7364,7318.0,126.52,2023-04-04 17:24:00,NaN
9421,9476,7365,7346.0,117.56,2023-04-04 17:50:00,NaN
9422,9477,7366,7334.0,64.12,2023-04-04 20:28:00,NaN

In [13]:
df

,PowderBlendPartID,PowderBlendID,OldPowderBlendID,AddedWeight,DateAdded,PowderInventoryBatchID
0,1,5,2.0,99.48,2015-01-16 06:00:00,NaN
1,2,6,3.0,107.20,2015-01-20 06:00:00,NaN
2,3,7,6.0,91.64,2015-01-27 06:00:00,NaN
3,4,8,4.0,93.15,2015-01-27 06:00:00,NaN
4,5,9,7.0,96.84,2015-01-27 06:00:00,NaN
...,...,...,...,...,...,...
9418,9473,7363,7351.0,1.00,2023-04-04 17:23:00,NaN
9419,9474,7364,7363.0,1.00,2023-04-04 17:24:00,NaN
9420,9475,7364,7318.0,126.52,2023-04-04 17:24:00,NaN
9421,9476,7365,7346.0,117.56,2023-04-04 17:50:00,NaN
9422,9477,7366,7334.0,64.12,2023-04-04 20:28:00,NaN